* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #efefef;
}

a {
    color: #9cdcfe;
}

header {
    background-color: #212121;
}

h1 {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
    color: #fff;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #fff;
}

#contact-title {
    font-size: 50px;
    margin-bottom: 20px;
}

#contact ul {
    padding-left: 0;
}

#contact li {
    list-style: none;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 5fr 2fr 5fr 1fr;
    grid-template-rows: 2fr minmax(1px, 1fr) 10fr minmax(1px, 1fr) 10fr minmax(1px, 1fr) 2fr;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 7;
}

.about-section {
    grid-column: 2;
    grid-row: 3;
    padding: 10%;
    background-color: #484554;
    border-radius: 10px 10px 10px 10px;
}

.projects-section {
    grid-column: 2;
    grid-row: 5;
    background-color: #4F5A6E;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.projects-section ul li {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-section {
    grid-column: 4;
    grid-row-start: 3;
    grid-row-end: 5;

    justify-content: flex-start;
}

.footer-section {
    grid-row: 7;
    grid-column-start: 1;
    grid-column-end: 6;
}

footer {
    background-color: #212121;
}
